mixin filterProduct(type)
  .filter-product
    .filter-left
      .filter-sort
        label Sắp xếp theo:
        select(name="sort")
          option(value="name") Tên sản phẩm
          option(value="price") Giá sản phẩm
          option(value="review") Đánh giá
      .filter-show
        label Show:
        select(name="show" id="show" onchange="filterShow(event)")
          option(value="9") 9
          option(value="18") 18
    .filter-right
      ul.nav.nav-tabs
        li
          a(data-toggle='tab' href='#list' class="active show")
            i.bx.bx-menu
        li.ml-2
          a(data-toggle='tab' href='#grid')
            i.bx.bxs-grid
