.row {
  display: flex;
  flex-wrap: wrap;
}

$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: calc($i / $grid-columns) * 100%;
  }
}
@media screen and (max-width: 992px) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: calc($i / $grid-columns) * 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: calc($i / $grid-columns) * 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      width: calc($i / $grid-columns) * 100%;
    }
  }
}
