mixin title-section(title)
  .title-section.d-flex.align-items-center.justify-content-between
    h2= title
    .title-button
      a(href="#") 
        i.bx.bxs-left-arrow
      a(href="#") 
        i.bx.bxs-right-arrow
