include ../data/menuItem.pug
include ../data/footer-data.pug

block variables
html 
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Thanh Cong - Machine Website - Best solution for you')
    meta(name='robots' content='noindex')
    meta(name='keywords' contetn='Thanh Cong,Machine Webiste')
    meta(name='author' content='Minh Tien')
    link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')
    link(href='./css/style.css' rel='stylesheet')
    block title
      title #{title}
  body
    block header
      include ../partials/header/header.pug
    
    block main

    block footer
      include ../partials/footer/footer.pug

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
