- 
  var banner = [
    {
      image: "./assets/images/SLIDER.jpg",
      name: "Máy khoan đa năng",
      title: "Dewalt",
      detail: [
        "Thiết kế nhỏ gọn, phù hợp, đa mục đích",
        "Mạnh mẽ, bền bỉ và hiệu suất lớn hơn",
        "Khoan cắt với độ chính xác tuyệt đối"
      ]
    },
    {
      image: "./assets/images/SLIDER.jpg",
      name: "Máy khoan đa năng",
      title: "Dewalt",
      detail: [
        "Thiết kế nhỏ gọn",
        "Mạnh mẽ, bền bỉ",
        "Độ chính xác tuyệt đối"
      ]
    } 
  ]

-       
  var cards = [
  {
    icon: "bx bxs-plane-alt",
    title: "Miễn phí vận chuyển",
    detail: "Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1.000.000"
  }, 
  {
    icon: "bx bx-sync",
    title: "Chính sách đổi trả",
    detail: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu"
  }, 
  {
    icon: "bx bx-gift",
    title: "Khuyến mãi hàng tuần",
    detail: "Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mãi lớn."
  }, 
  {
    icon: "bx bxs-like",
    title: "Cam kết hàng chính hãng",
    detail: "Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm."
  }, 
  ]
