-
  var brands = [
    "./assets/images/brand/brand1.png",
    "./assets/images/brand/brand2.png",
    "./assets/images/brand/brand3.png",
    "./assets/images/brand/brand4.png",
    "./assets/images/brand/brand5.png",
  ]
