-
  var cartHeader = [
    "stt",
    "sản phẩm",
    "thông tin",
    "đơn giá",
    "số lượng",
    "thành tiền",
    "xóa",
  ]

- 
  var cartList = [
    {
      image: "./assets/images/product/product1.png",
      name: "Máy khoan, cắt đa năng CNC",
      price: 235000,
      quantity: 1,
      total: 235000,
    }, 
    {
      image: "./assets/images/product/product2.png",
      name: "Máy khoan, cắt đa năng CNC",
      price: 235000,
      quantity: 1,
      total: 235000,
    }, 
  ]
