-
  var cartHeader = [
    "stt",
    "sản phẩm",
    "thông tin",
    "đơn giá",
    "số lượng",
    "thành tiền",
    "xóa",
  ]

-
  var cartCheckout = [
    "stt",
    "sản phẩm",
    "thông tin",
    "đơn giá",
    "số lượng",
    "thành tiền",
  ]

-
  var progressBarData = [
    {
      number:1,
      name:'Xác nhận'
    },
    {
      number:2,
      name:'Nhập thông tin cá nhân'
    },
    {
      number:3,
      name:'Kiểm tra đơn hàng'
    },
    {
      number:4,
      name:'Hoàn tất'
    }
  ]

-
  var inputProfileData = [
    { 
      title: "Họ và tên", 
      name:"fullName", 
      type:"text", 
      placeholder:"",
      required: true,
    },
    { 
      title: "Địa chỉ", 
      name:"address", 
      type:"text", 
      placeholder:"",
      required: true,
    },
    { 
      title: "Email", 
      name:"email", 
      type:"email", 
      placeholder:"",
      required: false,
    },
    { 
      title: "Số điện thoại", 
      name:"phone", 
      type:"text", 
      placeholder:"",
      required: true,
    },
  ]

- 
  var cartList = [
    {
      image: "./assets/images/product/product1.png",
      name: "Máy khoan, cắt đa năng CNC",
      price: 235000,
      quantity: 1,
      total: 235000,
    }, 
    {
      image: "./assets/images/product/product2.png",
      name: "Máy khoan, cắt đa năng CNC",
      price: 235000,
      quantity: 1,
      total: 235000,
    }, 
  ]
