- 
  var footerData =[
    {
      title: "Chính sách",
      list: ["Chính sách giao hàng", "Chính sách đổi sản phẩm", "Chính sách bảo hành", "Chính sách trả góp", "Giới thiệu hàng đổi trả", "Vân chuyển miễn phí"]
    },
    {
      title: "Dịch vụ & hỗ trợ",
      list: ["Hệ thống cửa hàng", "Tin tức khuyến mại", "Hướng dẫn thanh toán", "Tích điểm đổi thưởng", "Dịch vụ đổi trả hàng", "Câu hỏi thường gặp"]
    },
    {
      title: "Tin tức - Sự kiện",
      list: ["Tin tức mới nhât", "Chính sách đổi sản phẩm", "Tuyển dụng, đãi ngộ", "Download tài liệu", "Chương trình đối tác", "Nhà phát triển ứng dụng"]
    },
  ]

- 
  var socials = [
    {
      href: "#",
      icon: "bx bxl-facebook",
      name: "Facebook"
    },
    {
      href: "#",
      icon: "bx bxl-twitter",
      name: "Twitter"
    },
    {
      href: "#",
      icon: "bx bxl-instagram",
      name: "Instagram"
    },
    {
      href: "#",
      icon: "bx bxl-google-plus",
      name: "Google Plus"
    },
    {
      href: "#",
      icon: "bx bxl-skype",
      name: "Skype"
    }
  ]

- 
  var banks = [
    "./assets/images/bank/Techcombank.png",
    "./assets/images/bank/Vietinbank.png",
    "./assets/images/bank/VPBank.png",
    "./assets/images/bank/MaritimeBank.png",
    "./assets/images/bank/Techcombank.png",
    "./assets/images/bank/Vietinbank.png",
    "./assets/images/bank/VPBank.png",
    "./assets/images/bank/MaritimeBank.png",
  ]
