- 
  var profile = [ 
    { 
      title: "Họ và tên", 
      name:"fullName", 
      type:"text", 
      placeholder:"",
      required: true,
    },
    { 
      title: "Email", 
      name:"email", 
      type:"email", 
      placeholder:"",
      required: true,
    },
    { 
      title: "Số điện thoại", 
      name:"phone", 
      type:"text", 
      placeholder:"",
      required: true,
    },
    { 
      title: "Địa chỉ", 
      name:"address", 
      type:"text", 
      placeholder:"",
      required: true,
    },
  ]
