-
  var menuItem =[
    {
      name: "Trang chủ",
      href: "/"
    },
    {
      name: "Giới thiệu",
      href: "#"
    },
    {
      name: "Sản phẩm",
      href: "/list-page.html"
    },
    {
      name: "Tin khuyến mại",
      href: "#"
    },
    {
      name: "Blog",
      href: "/blog.html"
    },
    {
      name: "Liên hệ",
      href: "#"
    }
  ]
