-
  var menuItem =[
    {
      name: "Trang chủ",
      href: "/"
    },
    {
      name: "Giới thiệu",
      href: "#"
    },
    {
      name: "Sản phẩm",
      href: "#"
    },
    {
      name: "Tin khuyến mại",
      href: "#"
    },
    {
      name: "Blog",
      href: "#"
    },
    {
      name: "Liên hệ",
      href: "#"
    }
  ]
