- 
  var products = [ 
    { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product1.png", 
      rate:3, 
      reviews:12, 
      price:"1.150.000",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan white decker", 
      image:"./assets/images/product/product2.png", 
      rate:4, 
      reviews:12, 
      price:"1.250.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan yellow decker", 
      image:"./assets/images/product/product3.png", 
      rate:4, 
      reviews:12, 
      price:"1.350.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan cyan decker", 
      image:"./assets/images/product/product4.png", 
      rate:4, 
      reviews:12, 
      price:"1.450.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan abc decker", 
      image:"./assets/images/product/product5.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan efg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.650.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan omg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.750.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan zzz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.850.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan voz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.950.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product1.png", 
      rate:3, 
      reviews:12, 
      price:"1.150.000",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan white decker", 
      image:"./assets/images/product/product2.png", 
      rate:4, 
      reviews:12, 
      price:"1.250.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan yellow decker", 
      image:"./assets/images/product/product3.png", 
      rate:4, 
      reviews:12, 
      price:"1.350.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan cyan decker", 
      image:"./assets/images/product/product4.png", 
      rate:4, 
      reviews:12, 
      price:"1.450.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan abc decker", 
      image:"./assets/images/product/product5.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan efg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.650.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan omg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.750.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan zzz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.850.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan voz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.950.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product1.png", 
      rate:3, 
      reviews:12, 
      price:"1.150.000",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan white decker", 
      image:"./assets/images/product/product2.png", 
      rate:4, 
      reviews:12, 
      price:"1.250.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan yellow decker", 
      image:"./assets/images/product/product3.png", 
      rate:4, 
      reviews:12, 
      price:"1.350.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan cyan decker", 
      image:"./assets/images/product/product4.png", 
      rate:4, 
      reviews:12, 
      price:"1.450.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan abc decker", 
      image:"./assets/images/product/product5.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan efg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.650.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan omg decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.750.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan zzz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.850.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan voz decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.950.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
  ]
