- 
  var products = [ 
    { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product1.png", 
      rate:3, 
      reviews:12, 
      price:"1.550.000",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product2.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product3.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product4.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product5.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product1.png", 
      rate:3, 
      reviews:12, 
      price:"1.550.000",
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product2.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
      { 
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product3.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product4.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product5.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
    {
      title: "Máy khoan black decker", 
      image:"./assets/images/product/product6.png", 
      rate:4, 
      reviews:12, 
      price:"1.550.000", 
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...",
    },
  ]
