-       
  var categories = [
    "Máy khoan, cắt CNC",
    "Máy in phun khổ lớn",
    "Máy quét Canon 3D",
    "Máy hàn điện Alunima",
    "Máy khoan Decameta",
    "Máy phay đa năng CNC",
    "Máy mài, tiện DC 12V",
    "Máy khoan, cắt CNC",
    "Máy quay thông minh N3",
    "Motor R34C đa dụng",
    "Máy in laser màu 3D"
  ]
