extend ../base/base.pug
block variables
  - const current="/"
prepend title
  - var title = "Thanh toán"
block main
  main 
    .container.py-5
      +breadcumb(["Trang chủ"], "Giỏ hàng")
      section.cart.mt-5
        table.table.table-bordered
          thead 
            tr 
              each item in cartHeader 
                th(scope='col')=item
          tbody.cartList
           
      section.checkout.row.justify-content-end.mt-4
        .col-lg-6
          table.table.table-bordered.table-checkout
            tbody
              tr
                th Tổng tiền
                td.cartTotalMoney 
              tr
                th(scope='row') Thuế (VAT)
                td.cartVAT
              tr
                th(scope='row') Thanh toán
                td.cartTotal
          .checkout-action
            .continue
              a.btn.btn__secondary(href="/dist/list-page.html") tiếp tục mua hàng
            .checkout-btn.ml-2
              a.btn.btn__primary.cartPayment(href="/dist/checkout.html") thanh toán
  script(src='../script/cart.js')
