extend ../base/base.pug
block variables
  - const current="/"
prepend title
  - var title = "Trang chủ"
block main
  main 
    .container 
      section.banner.pt-4
        .row 
          .col-lg-8.p-0
            +banner(banner)
          .col-lg-4.p-0
            +cards(cards)
