extend ../base/base.pug
block variables
  - const current="/"
prepend title
  - var title = "Trang chủ"
block main
  main 
    .container 
      section.banner.pt-4
        .row 
          .col-lg-8.pr-0
            +banner(banner)
          .col-lg-4.pl-0
            +cards(cards)
      section.popular-product.pt-5
        .row
          .col-lg-12.mb-5
            +title-section("Sản phẩm nổi bật")
        .row 
          .col-lg-3.col-12
            +sidebar(categories)
          .col-lg-9 
            +products(products,6)
      section.new-product.pt-5
        .row 
          .col-lg-12.mb-5 
            +title-section("Sản phẩm mới",categoriesTitle)
        .row 
          .col-lg-12
            +products(products,3)
