extend ../base/base.pug
block variables
  - const current="/list-page.html"
prepend title
  - var title = "Danh mục sản phẩm"
block main
  main 
    .container.py-5
      +breadcumb(["Trang chủ"], "Danh mục sản phẩm")
      .row
        .col-lg-3#sidebar-product
        .col-lg-9
          +filterProduct()
          .tab-content.mt-4
            #list.tab-pane.fade.in.active.show
            #grid.tab-pane.fade
          .mt-4#pagination
  script(src='../script/product-list.js')
