.breadcumb {
  display: flex;

  li + li:before {
    padding: 8px;
    color: $gray;
    content: "/\00a0";
  }

  &-item,
  a {
    font-size: 14px;
    color: $gray;
    font-weight: 500;

    @include respond-to(phone-and-down) {
      font-size: 12px;
    }
  }

  .active {
    color: $black;
  }
}
