.btn {
  text-transform: uppercase;
  color: white;
  border: none;

  &__primary {
    background-color: $yellow;
  }

  &__secondary {
    background-color: $black;
  }

  &__outline {
    border: 1px solid $gray;
    background-color: transparent;
    transition: $transition;
    color: $gray;

    &:hover {
      border: 1px solid $yellow;
      background-color: $yellow;
      color: $white;
      text-transform: none;
    }
  }
}
