.contact {
  position: relative;

  img {
    height: 230px;
  }

  &-content {
    @include flex(column, center, center);
    gap: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    p {
      color: white;
      font-weight: 400;
      font-size: clamp(16px, 2vw, 24px);
    }

    form {
      @include flex(row, center, center);
      gap: 10px;
    }

    input {
      max-width: 600px;
      border-radius: 30px;
      border: none;
      padding: 20px 30px;
      font-size: clamp(13px, 2vw, 16px);
    }

    a {
      padding: 15px 40px;
      border-radius: 30px;
      color: $white !important;
      font-size: clamp(13px, 2vw, 16px);
    }

    @include respond-to(tablet-and-down) {
      form {
        width: 100%;
        flex-direction: column;
      }

      input {
        width: 100%;
      }
    }
  }
}
