.product-list {
  @include flex(row, flex-start, center, wrap);
  width: 100%;
}

.product-body {
  @include flex(column, center, center, nowrap);
}

.product-col {
  @include respond-to(desktop-and-down) {
    display: none;

    &:first-child {
      display: block;

      .col-lg-12:last-child {
        display: none;
      }
    }
  }
}

.product-rate {
  span {
    color: $yellow;
    font-size: 13px;
  }

  .reviews {
    color: $gray;
    margin-left: 5px;
    font-style: italic;
  }
}

.product-item {
  height: 320px;
  background-color: $white;
  padding: 20px 0;
  box-shadow: rgba(121, 117, 117, 0.16) 0px 1px 1px;
  transition: $transition;

  .product-price {
    color: $red;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }

  .product-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .product-button {
    display: none;
    margin-top: 10px;
    gap: 10px;

    button,
    a {
      @include flex(row, center, center);
      border-radius: 0;
      width: 110px;
      height: 40px;
      font-size: 13px;
      font-weight: 600;
      line-height: 0;

      &:hover {
        color: white;
      }
    }

    @include respond-to(desktop-and-down) {
      @include flex(row, center, center);
    }
  }

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .product-button {
      @include flex(row, center, center);
    }
  }
}

.big-product {
  flex-direction: row;

  @include respond-to(phone-and-down) {
    flex-direction: column;
  }

  .product-content {
    @include flex(column, center, center);

    .product-desc {
      font-size: 13px;
      color: $gray;
      margin-top: 10px;
    }

    .product-button {
      @include flex(row, center, flex-start);
    }
  }
}

.large-product {
  .col-lg-6 {
    .product-list__item {
      .product-item {
        height: 665px;
        @include flex(row, center, center);

        .product-img img {
          height: 350px;
          margin-bottom: 150px;
          margin-left: auto;
          margin-right: auto;
        }

        p,
        h3 {
          font-size: 18px;
        }
      }
    }
  }

  .product-item:hover {
    .product-button {
      display: none !important;
      opacity: 0;
    }
  }
}

.height-big {
  height: 230px;

  @include respond-to(phone-and-down) {
    height: 400px;
  }
}
