.select-option {
  @include flex(column, flex-start, flex-start);

  label {
    font-size: 14px;
    line-height: 32px;
    color: $black;
    font-weight: 600;
  }

  select {
    width: 190px;
    height: 35px;
    border-color: $line-gray;
    color: $gray;
    font-size: 14px;
  }
}
